{% extends 'layout.html.twig' %}

{% block title %}Hello AuteurController!{% endblock %}

{% block content %}

{% if app.request.get('_route') == 'monblog_auteur_create' %}
  <h2>Ajout d'un auteur</h2>
{% else %}
  <h2>Modifier un auteur</h2>
{% endif %}

{{ form(form) }}
{# <div class="form-group">
  <button type="submit" id="auteur_enregistrer" class="btn-primary btn">Enregistrer</button>
</div> #}

{% endblock %}
